
.container {
    margin-top: 100px;
}
.li {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    
    list-style: none;
}
.li li a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
.li li a:hover {
border-bottom: 2px solid black;
}




@media(max-width: 800px){
    .li {
        
        grid-template-columns: repeat(2,1fr);
   margin-bottom: 100px;
        
    }  

}


