.contentsDivClass {
    background-color: #fff;
}

.contentsFlex {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}

.contentsFlexImg {
    flex: 0 0 auto;
    width: 20%;
    padding: 10px;
}

.contentsFlexTxt {
    flex: 1 1 auto;
    width: 80%;
    padding: 10px;
    text-align: justify;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 10px;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #d59204;
    
  }

  Button:hover {
    background-color: #ffae00;
}


.home {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    
}
.labell {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
 
}
form {
    display: block;
}
input {
   text-align: center;
  
   padding: 10px;
   font-size: 17px;
   border-radius: 50px;
   border: hidden;
   box-shadow: 1px 1px 2px 1px;

   
}

.statediv {
    font-size: 3em;
    font-weight: bold;
}

.image {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10vh;
}
.image img{
    margin: 10vh 15vw;
    max-width: 300px;
    max-height: 250px;
}


.imgtext {
    font-size: 2rem;
}
.nic {
    font-size: 30px;
}

.video {
    margin-top: 200px;
    font-size: 3rem;
}
.client {
    margin-bottom: 50px;
}

@media(max-width: 800px) {
    .statediv{
        font-size: 3em;
    }
    .nic {
        font-size: 2rem;
        margin-bottom: 50px;
    }
   
    .home {
        font-size: 2rem;
    }
    .labell {
        margin-top: 50px;
    }

    .image {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
        
    }

    .image img {
        max-width: 250px;
    }
  }

  @media (max-width: 1280px)
{
    .home {
        font-size: 20px;
    }
    .image img {
        max-width: 300px;
    }
}