
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
.App {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 70px;
  min-height: 100vh;
  border-radius: 20px;
  flex-direction: column;
  background-color: #fff;
  font-family: teko;
}

@media(min-width: 800px) {
  .App {
      margin-top: 5vh;
    min-height: 90vh;
  }
}